In [1]:
import pandas as pd
import os
import sys

In [2]:
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

In [3]:
from connection.connect_to_postgres import ConnectToPostgres
conn = ConnectToPostgres()
engine = conn.get_engine()

## Cities

In [40]:
cities_info = pd.read_csv("../youtube-data/Cities/Table data.csv")
# Extract column to save to database 
# Rename columns
column_mapping = {
    "Cities": "cities",
    "City name": "name",
    "Geography": "geography",
    "Geography.1": "geography_with_capital",
    "Watch time (hours)": "watch_time_in_hours",
    "Average view duration": "average_time_duration"
}
cities_info = cities_info.rename(columns=column_mapping)
new_df = cities_info.iloc[1:].copy()
column_to_exclude = 'Views'
new_df = new_df.drop(column_to_exclude, axis=1)
# new_df.head()
table_name = "cities_info"
new_df.to_sql(table_name, engine, index=False, if_exists='append')

In [52]:
cities_chart = pd.read_csv("../youtube-data/Cities/Chart data.csv")
# Extract column to save to database
new_column_mapping = {
    "Date": "date",
    "Views": "views",
    "Cities": "cities",
}
cities_info_col_to_exclude = "City name"
new_cities_df = cities_chart.drop(cities_info_col_to_exclude, axis=1, inplace=False)
new_cities_chart_df = new_cities_df.rename(columns=column_mapping)
new_cities_chart_df = cities_info.iloc[1:].copy()
new_cities_df.head()
# table_name = "cities_chart"
new_cities_chart_df.to_sql(table_name, engine, index=False, if_exists='append')

         Date                                 Cities  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49      0

## Content

In [23]:
content_info = pd.read_csv("../youtube-data/Content type/Table data.csv")
# Extract columns to database
# Rename columns
column_mapping_for_content_info = {
    "Content type": "content_type",
    "Watch time (hours)": "watch_time_in_hours",
    "Average view duration": "average_time_duration"
}
content_info_rename_df = content_info.rename(columns=column_mapping_for_content_info)
column_to_exclude = 'Views'
new_content_info_df = content_info_rename_df.drop(column_to_exclude, axis=1)
new_content_info_df = new_content_info_df.iloc[1:].copy()
table_name = "content_type_info"
new_content_info_df.to_sql(table_name, engine, index=False, if_exists='append')

2

In [28]:
content_chart = pd.read_csv("../youtube-data/Content type/Chart data.csv")
# Extract columns to database
# Rename columns
column_mapping_for_content_chart = {
    "Date": "date",
    "Views": "views",
    "Content type": "content_types",
}
# To do: find another way to create the foreign key
content_chart_rename_df = content_chart.rename(columns=column_mapping_for_content_chart)
content_type_mapping = {"Other": 1, "Videos": 2}
content_chart_rename_df["content_types"] = content_chart_rename_df["content_types"].map(content_type_mapping)
table_name = "content_type_chart"
content_chart_rename_df.to_sql(table_name, engine, index=False, if_exists='append')

558

## Devices

In [33]:
device_info = pd.read_csv("../youtube-data/Device type/Table data.csv")
# Extract columns to database
# Rename columns
column_mapping_for_device_info = {
    "Device type": "device_type",
    "Watch time (hours)": "watch_time_in_hours",
    "Average view duration": "average_time_duration"
}
device_info_rename_df = device_info.rename(columns=column_mapping_for_device_info)
column_to_exclude = 'Views'
new_device_info_df = device_info_rename_df.drop(column_to_exclude, axis=1)
new_device_info_df = new_device_info_df.iloc[1:].copy()
table_name = "device_type_info"
new_device_info_df.to_sql(table_name, engine, index=False, if_exists='append')

4

In [37]:
device_chart = pd.read_csv("../youtube-data/Device type/Chart data.csv")
# Extract columns to database
# Rename columns
column_mapping_for_device_chart = {
    "Date": "date",
    "Views": "views",
    "Device type": "device_types",
}
# To do: find another way to create the foreign key
device_chart_rename_df = device_chart.rename(columns=column_mapping_for_device_chart)
device_chart_rename_df
device_type_mapping = {"Computer": 1, "Mobile phone": 2, "Tablet": 3, "TV": 4}
device_chart_rename_df["device_types"] = device_chart_rename_df["device_types"].map(device_type_mapping)
table_name = "device_type_chart"
device_chart_rename_df.to_sql(table_name, engine, index=False, if_exists='append')

            date device_types  views
0     2020-06-28     Computer      1
1     2020-06-29     Computer     49
2     2020-06-30     Computer     62
3     2020-07-01     Computer     46
4     2020-07-02     Computer     29
...          ...          ...    ...
5111  2023-12-24       Tablet      0
5112  2023-12-25       Tablet      0
5113  2023-12-26       Tablet      0
5114  2023-12-27       Tablet      0
5115  2023-12-28       Tablet      0

[5116 rows x 3 columns]