In [7]:
import pandas as pd
import os
import sys

In [8]:
rpath = os.path.abspath('..')
if rpath not in sys.path:
    sys.path.insert(0, rpath)

In [10]:
from connection.connect_to_postgres import ConnectToPostgres
conn = ConnectToPostgres()
engine = conn.get_engine()

In [40]:
cities_info = pd.read_csv("../youtube-data/Cities/Table data.csv")
# Extract column to save to database 
# Rename columns
column_mapping = {
    "Cities": "cities",
    "City name": "name",
    "Geography": "geography",
    "Geography.1": "geography_with_capital",
    "Watch time (hours)": "watch_time_in_hours",
    "Average view duration": "average_time_duration"
}
cities_info = cities_info.rename(columns=column_mapping)
new_df = cities_info.iloc[1:].copy()
column_to_exclude = 'Views'
new_df = new_df.drop(column_to_exclude, axis=1)
# new_df.head()
table_name = "cities_info"
# new_df.to_sql(table_name, engine, index=False, if_exists='append')

In [45]:
cities_chart = pd.read_csv("../youtube-data/Cities/Chart data.csv")
# Extract column to save to database
column_mapping = {
    "Date": "date",
    "Views": "views",
    "Cities": "cities",
}
cities_info_col_to_exclude = "City name"
new_cities_df = cities_chart.drop(column_to_exclude, axis=1)
cities_chart = new_cities_df.rename(columns=column_mapping)
new_cities_df.head()
# table_name = "cities_chart"
# new_cities_df.to_sql(table_name, engine, index=False, if_exists='append')

         Date                                 Cities    City name  Views
0  2020-06-28  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
1  2020-06-29  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
2  2020-06-30  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
3  2020-07-01  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0
4  2020-07-02  0x164b85cef5ab402d:0x8467b6b037a24d49  Addis Ababa      0